//Polar night
$black: #2e343f;
$dark-grey: #3b4252;
$medium-grey: #434c5e;
$grey: #4c566a;

//Snow storm
$light-grey: #d8dee9;
$medium-white: #e5e9f0;
$white: #eceff4;

// Frost
$green: #8fbcbb;
$frost-blue: #88c0d0;
$light-blue: #81a0c1;
$deep-blue: #5e81ac;

// Aurora
$red: #bf616a;
$orange: #cf8770;
$yellow: #ebcb8b;
$green: #a3be8c;
$pink: #b48ead;
